<div class="profile">
  <div class="header">
  </div>
  <div class="content">
    <div class="photo">
    </div>
    <h2></h2>
    <div class="info">
      <p class="party"><p>
      <ul class="dates">
        <li>Term started:<div class="start_date"></div></li>
        <li>Term ends:<div class="end_term_date"></div>
        </li>
      </ul>
      <ul class="contacts">
        <li>
          <div class="phone_number"></div>
        </li>
        <li>
          <a class= "message">
            <i class="fa fa-envelope-square"></i>
            Send a Message
          </a>
        </li>
        <li>
          <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
          <div class="twitter_handle">

          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
