<div class="profile">
  <div class="header">
    Their title
  </div>
  <div class="content">
    <div class="photo">
      <img src="http://placekitten.com/g/200/200"></img>
    </div>
    <h2>Namey McNamerson</h2>
    <div class="info">
      <ul class="headline_list">
        <li>Office</li>
        <li>Party</li>
      </ul>
      <ul class="dates">
        <li>In office since:
          <div class="start_date"></div>
        </li>
        <li>Up for relection in:
          <div class="end_term_date"></div>
        </li>
      </ul>
      <ul class="contacts">
        <li>
          <a href="tel:+5555555555">
            <i class="fa fa-phone-square"></i>
            555-555-5555
          </a>
        </li>
        <li>
          <a href="mailto:email@email.com">
            <i class="fa fa-envelope-square"></i>
            email@email.com
          </a>
        </li>
        <li>
          <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
          <a href="https://twitter.com/intent/user?screen_name=nickpassarella">
            <i class="fa fa-twitter-square"></i>
            @twitterhandle
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
