<h1>Welcome to <strong>Find Your 'Lators</strong></h1>

# explanation of the site, what it does, how they can use it

<p>Would you like to use your current location?</p>

<%= link_to "Yes" %>








