/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bourbon";

body {
  background-image: url("polaroid_@2X-eca56c8eaa2853cf01e3c44af294aea1.png");
  background-repeat: repeat;
  font-family: $helvetica;

  h1 {
    text-align: center;
    color: #BD0000;
    font-size: 40pt;
  }

  .try_again {
    float: right;

    .fa-hand-o-up {
      font-size: 40pt;
    }

    h4{
      @include padding(0 30px null null);
    }
  }
}

#home_link {
  text-decoration: underline;
}

#search {
  height: 400px;
}

#error {
  height: 125px;
}

.field {
  margin-top: 10px;
  font-size: 22pt;

  input {
    margin-top: 6px;
    font-size: 16pt;
    width: 500px;
    height: 40px;
  }
}

.actions {

  input {
    width: 200px;
    height: 45px;
    background-color: #BD0000;
    border: solid 3px #920000;
    color: #FFF;
    font-family: $helvetica;
    font-size: 16pt;
    @include margin(10px null null null);
  }

  input:hover {
    background-color: #920000;
  }
}

.nav {
  height: 50px;
  background-color: #BD0000;
  border: solid 3px #920000;
  color: #FFF;
  font-family: $monospace;

  .title {
    font-size: 25pt;
    float: left;
    @include padding(10px null 5px 20px);
  }

  .link {
    float: right;
    font-size: 16pt;
    @include padding(20px 35px 5px null);

    a {
      text-decoration: none;
      color: #FFF;
    }

    a:hover{
      text-decoration: underline;
    }
  }

}

.profile {

  width: 600px;
  @include margin(25px auto 25px auto);

  .header{
    height: 40px;
    background-color: #BD0000;
    color: #FFF;
    font-size: 25pt;
    font-weight: 500;
    padding-left: 15px;
    border-left: solid 2px #920000;
    border-top: solid 2px #920000;
    border-right: solid 1px #000;
  }

  .content {
    height: 250px;
    background-color: #E6EDF3;
    border: solid 2px #ACA2B9;
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
    @include padding(null 20px null 20px);

    a {
      text-decoration: none;
      color: #BD0000;
    }

    a:hover {
      color: #830000;
    }

    h2 {
      @include margin(10px null 0 null);
      color: #BD0000;
    }

    .party {
      margin-top: 2px;
      font-size: 14pt;
    }

    ul {
      @include margin(5px null 15px null);
    }

    .photo {
      float: left;

      img {
        background-image: url("image_404-097e0fff6381957de67646aa2eeb9fad.jpg");
        border-radius: 75px;
        height: 200px;
        @include margin(10px 45px null 10px);
      }
    }

    ul {
      list-style: none;

      li {
        margin-bottom: 3px;
      }
    }
  }
}