/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bourbon";

body {
  background-image: url("polaroid_@2X.png");
  background-repeat: repeat;
}

.nav {
  height: 50px;
  background-color: #BD0000;
  border: solid 3px #920000;
  color: #FFF;
  font-family: $monospace;

  .title {
    font-size: 25pt;
    float: left;
    @include padding(10px null 5px 10px);
  }

  .link {
    float: right;
    font-size: 14pt;
    @include padding(20px 40px 5px null);

    a {
      text-decoration: none;
      color: #FFF;
    }

    a:hover{
      text-decoration: underline;
    }
  }

}

.profile {

  width: 600px;
  @include margin(25px auto 25px auto);
  font-family: $helvetica;

  .header{
    height: 40px;
    background-color: #BD0000;
    color: #FFF;
    font-size: 25pt;
    font-weight: 500;
    padding-left: 15px;
    border-left: solid 2px #920000;
    border-top: solid 2px #920000;
    border-right: solid 1px #000;
  }

  .content {
    height: 250px;
    background-color: #E6EDF3;
    border: solid 2px #ACA2B9;
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
    @include padding(null 20px null 20px);

    a {
      text-decoration: none;
      color: #BD0000;
    }

    a:hover {
      color: #830000;
    }

    h2 {
      @include margin(10px null 0 null);
      color: #BD0000;
    }

    .party {
      margin-top: 2px;
      font-size: 14pt;
    }

    ul {
      @include margin(5px null 15px null);
    }

    .photo {
      float: left;

      img {
        border-radius: 75px;
        height: 200px;
        @include margin(10px 45px null 10px);
      }
    }

    ul {
      list-style: none;

      li {
        margin-bottom: 3px;
      }
    }
  }
}